<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="an.dpr.pruebasandroid"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="15" />

    <!-- meter estos permisos en otra apli para acceder al provider, que tiene exported=true pa eso -->
    <permission android:name="an.dpr.android.content.READ" />
    <permission android:name="an.dpr.android.content.WRITE" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".content.BiciCP"
            android:authorities="an.dpr.android.content"
            android:enabled="true"
            android:exported="true"
            android:readPermission="an.dpr.android.content.READ"
            android:writePermission="an.dpr.android.content.WRITE" />

        <activity
            android:name=".ListBicis"
            android:label="@string/title_activity_list_bicis" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="android.app.ListActivity" />
        </activity>
        <activity
            android:name=".BiciForm"
            android:label="@string/title_activity_bici_form" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ItemListActivity"
            android:label="@string/title_item_list" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ItemDetailActivity"
            android:label="@string/title_item_detail" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ItemListActivity" />
        </activity>
    </application>

</manifest>